
@{
    ViewBag.Title = "index";
}

<!DOCTYPE html>

<html>
<head></head>
<body background="C:\Users\WIN10\source\repos\Ex3\Ex3\Image\export-map-share.png" style="background-size:cover">
</body>
</html>

