
@{
    ViewBag.Title = "Index";
}


<div>
    //delete befor submission
    <a href="/display/127.0.0.1/5402">/Display/127.0.0.1/5402</a>

    <br />
    <a href="/display/127.0.0.1/5402/4">/Display/127.0.0.1/5402/4</a>

    <br />
    <a href="/save/127.0.0.1/5402/4/10/flight1">/save/127.0.0.1/5402/4/10/flight1</a>

    <br />
    <a href="/display/flight1/4">/display/flight1/4</a>

</div>